.popup {
  visibility: hidden;
  position: absolute;
  top: 50px;
  left: calc(50% - 200px);
  width: 400px;
}
.popup-content {
  width: 80%;
  margin: 0 auto;
  background: #000000;
  border: 1px solid #ffffff;
  height: 400px;
}
.popup-content > :nth-child(1n+2) {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;
}
.popup-content > div:hover {
  color: #000000;
  background: #ffffff;
  border-color: #000000;
}

.close {
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 1px solid #ffffff;
  background: #000000;
  cursor: pointer;
}