.avatar {
    height: 150px;
    display: flex;
    justify-content: center;
    padding: 50px 0 0 0;
    &__img {
        width: 150px;
        height: 150px;
        background: #ffffff;
        border-radius: 150px;
    }
}

.contacts {
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    &__aboutme {
        display: flex;
        > :nth-child(1) {
            text-align: right;
            padding-right: 10px;            
        }
        > :nth-child(2) {
            text-align: left;
            padding-left: 10px;   
        }
        > div {
            flex: 1;
            h3 {
                padding: 5px 0;
                margin: 0;
                font-size: 12px;
                font-weight: 100;
            }
        }
    }

    &__name {
        font-size: 20px;
        font-weight: 300;
        color: $secondclr;
        padding: 0 0 10px 0;
    }

    &__title {
        color: red;
        font-size: 20px;
        font-weight: 300;
        padding: 10px 0;
    }

    &__text {
        font-size: 12px;
        padding: 0 10px;
    }
}