.btn {
  border: none;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  &:hover {
    color: #000000;
  }

  &__create-list {
    background: none;
    //background: $sdbr-btn-clr;
    width: 100%;
    border-bottom: 1px solid $secondclr;
    border-top: 1px solid $secondclr;
    &_active {
      @include sdbr-btn-active;
    }
  }
}