.head-nav {
	display: flex;

	&__item {
		color: #fff;
	}
}

.top-nav {
	&__logo {
		padding: 0 0 0 50px;
		line-height: 50px;
		cursor: pointer;
		font-size: 30px;
		font-family: $font-family-navigo;
		align-items: center;
		width: 300px;
	}

	&__void {
		flex: 1;
	}

	&__miniprofile {
		display: flex;
		height: 100%;
		//background: $rareclr;
		//border-radius: 10% 90% 0% 100% / 100% 0% 100% 0%;
		
		&__avatar {
			width: 80px;
			height: 100%;
			//border-radius: 40% 60% 40% 60% / 100% 0% 100% 0%;
			//background: #fff;
		}
		
		&__login {
			width: 200px;
			font-size: 15px;
			padding: 17px 0 17px 20px;
			cursor: pointer;
			&:hover {
					color: red;
			}
		}
	}

}