.sw-sidebar__profile
    .sw-profile__avatar
        .sw-profile__avatar__img

    .sw-profile__contacts
        .sw-profile__contacts__name
            span
                a Hello! I'am: 
                | Aleksei
        .sw-profile__contacts__text.sw-profile__contacts__aboutme
            div
                h3
                    span 28 лет, 16 мая 1989
                h3
                    span г.Челябинск
            div
                h3
                    span Grimmino@gmail.com
                h3
                    span +7 (000) 00-00-000  

        .sw-profile__contacts__title
            span About me
        .sw-profile__contacts__text
            span I have a three-year experience of working as a web-designer 
                | and web-dev. Always try to make convenient and understandable 
                | design in PSD for a layout designer to use. My works are thought, 
                | modern, user-friendly. I am reliable, hard-working, creative, 
                | ready and eager to learn and develop. Self taught the basis of 
                | graphics, which helps me in my job. I have created logos and
                | corporate style. Know and use HTML, CSS and Bootstrap.
  
        .sw-profile__contacts__title
            span Experience
        .sw-profile__contacts__text
          .sw-profile__myknowleg
            div html
            div css/sass/less
            div javascript