//base-vars
$mainclr: #053850;
$secondclr: #1fa1a5;

//sidebar-vars
$sdbr-btn-clr: #2f89b3;
$sdbr-btn-clr-hover: #2d3e46;

//sidebar-mixins
@mixin sdbr-btn-active {
    border-right: 5px solid #00f7ff;
}

//profile-vars
$profile-font-clr: #ffffff;
$profile-title-clr: #00aeff;
$profile-mainclr: #002a3d;
$profile-secondclr: #177ead;