//- Master layout
doctype html
html(lang='en')
	head
	//- Meta
	meta(charset='UTF-8')
	meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
	meta(http-equiv='X-UA-Compatible', content='ie=edge')
	//- Title
	block title

	body
		.page
			block header
			.page__header#page__header
				include pug/app/header/header
			block layout
			.page__layout
				include pug/base
			block root
			#root