*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
}
html {
	box-sizing: border-box;
}
body {
	margin: 0;
	background: $mainclr;
	font-weight: normal;
	color: $secondclr;
}

.page {
	&__header {
		width: 100%;
		background: linear-gradient(45deg, $mainclr, 70%, $secondclr);
		border-bottom: 1px solid $secondclr;
	}

	&__layout {
		width: 100%;
	}
}